body{
    background: #232323;
    margin: 0;
    font-family:"Montserrat","Avenir";
}
.square{
    background: rebeccapurple;
    float: left;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 20%;
    transition: background 0.8s ;
}
.container{
    max-width: 600px;
    margin: 20px auto;
}
h1{
    color: blanchedalmond;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
#stripe{
    text-align: center;
    background: white;
    color: black;
    height: 30px;
}
.selected{
    color: white;
    background: steelblue;
}
#one{
    font-size: 200%;
}
#display{
    display: inline-block;
    width: 20%;
}
button{
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.8s;
    outline: none;
}
button:hover{
    color: white;
    background: steelblue;
}
